
<div class="section-hero container mt-5">
    <div class="welcome-header-container">
        <div class="welcome-header mr-5">Welcome To</div>
    </div>
    <div class="row">
        <div class="col-12 col-lg-6 position-relative">
            <div class="company-name">
                {{{companyName}}}
            </div>
            <div class="company-description">
                {{{companyDescription}}}
            </div>
        </div>

        <div class="col-12 col-lg-6 m-auto d-flex">
            <div class="hero-image-container mx-auto">
                <img class="hero-image" src="/images/banner-wheel.png">
            </div>
        </div>
    </div>
</div>

<div class="section-body mt-5 container">
    <div class="px-5 mt-auto pt-5 justify-content-center about-us-container">
        <div class="text-black section-heading text-center font-weight-bold">
            About US
        </div>
        <div class="row">
            <div class="col-12 col-lg-6 d-flex">
                <img class="m-auto mb-3" style="max-width: 100%;" src="./images/Group 2399.svg">
            </div>
            <div class="col-12 col-lg-6">
                <div class="mt-4 mb-5 about-us-container-body">
                    <p>
                        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
                        At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
                        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labor. At vero eos et accusam et justo duo dolores et ea rebum.
                    </p>
                    <p>
                        At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
                        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
                        Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-5 pt-5 mb-5 pb-5">
        <div class="col-12 col-lg-6 mb-5 pr-lg-4">
            <div class="mission-vision-cards ml-md-auto" style="background: #211C31 0% 0% no-repeat padding-box;">
                <div class="mission-vision-cards-heading p-4 pl-5">
                    Our Vision
                </div>
                <div class="mission-vision-cards-body pl-5">
                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. 
                    Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, 
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-6 mb-5 pl-lg-4">
            <div class="mission-vision-cards mr-md-auto" style="background: #38324B 0% 0% no-repeat padding-box;">
                <div class="mission-vision-cards-heading p-4 pl-5">
                    Our Mission
                </div>
                <div class="mission-vision-cards-body pl-5">
                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. 
                    Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, 
                </div>
            </div>
        </div>
    </div>
    
</div>

<div class="cards-navigation-container d-flex flex-wrap justify-content-center px-5 position-relative mb-5">
    <div class="nav-card">
        <div style="padding-top: 4rem;">
            <div class="m-auto">
                <div class="square-1"></div>
                <div class="square-2"></div>
                <div class="h-100 d-flex">
                    <img class="m-auto" height="142px" src="/images/zodiac.png" >
                </div>
            </div>
            <div class="nav-card-text justify-content-center mx-auto d-flex mt-3">
                Zodiac Sign
            </div>
            <div class="nav-card-link justify-content-center mx-auto d-flex mt-3">
                <a class="my-auto" style="z-index: 1;" href="/zodiacsign">Click here</a>
            </div>
        </div>
    </div>

    <div class="nav-card">
        <div style="padding-top: 4rem;">
            <div class="m-auto">
                <div class="square-1"></div>
                <div class="square-2"></div>
                <div class="h-100 d-flex">
                    <img class="m-auto" height="142px" src="/images/numerology.png" >
                </div>
            </div>
            <div class="nav-card-text justify-content-center mx-auto d-flex mt-3">
                Numerology
            </div>
            <div class="nav-card-link justify-content-center mx-auto d-flex mt-3">
                <a class="my-auto" style="z-index: 1;" href="/numerology">Click here</a>
            </div>
        </div>
    </div>

    <div class="nav-card">
        <div style="padding-top: 4rem;">
            <div class="m-auto">
                <div class="square-1"></div>
                <div class="square-2"></div>
                <div class="h-100 d-flex">
                    <img class="m-auto" height="142px" src="/images/tarot.png" >
                </div>
            </div>
            <div class="nav-card-text justify-content-center mx-auto d-flex mt-3">
                Tarot Card
            </div>
            <div class="nav-card-link justify-content-center mx-auto d-flex mt-3">
                <a class="my-auto" style="z-index: 1;" href="/tarotcard">Click here</a>
            </div>
        </div>
    </div>
</div>