<div class="section-hero container mt-5 mb-5">
    <div class="welcome-header-container">
        <div class="welcome-header mr-5">Welcome To</div>
    </div>
    <div class="row">
        <div class="col-12 col-lg-6 position-relative">
            <div class="company-name">
                {{{companyName}}}
            </div>
            <div class="company-description">
                {{{companyDescription}}}
            </div>
        </div>

        <div class="col-12 col-lg-6 m-auto d-flex">
            <div class="hero-image-container mx-auto">
                <img class="hero-image" src="/images/numerology-banner.png">
            </div>
        </div>
    </div>
</div>

<div class="get-prediction-section-body container position-relative">
    <div class="px-5 mt-auto justify-content-center get-prediction-container mx-auto position-relative">
        <div class="text-black section-heading text-center get-prediction-head font-weight-bold">
            Get Prediction
        </div>
        <div class="text-center font-weight-bold get-prediction-subhead">Fill the form below</div>
        <div class="container get-prediction-body">
            <div class="row mx-auto" style="width: 60%;">
                <!-- <div class="col-12 d-flex justify-content-between">
                            <div class="form-group" style="width: 47%;">
                                <label for="">Question</label>
                                <input required value="" name="title" type="text" class="form-control">
                            </div>
                            <div class="form-group" style="width: 47%;">
                                <label for="">Question</label>
                                <input required value="" name="title" type="text" class="form-control">
                            </div>
                        </div> -->
                <form class="col-12" method="post" pediction-form action="">
                    <div class="col-12 d-flex">
                        <div class="form-group w-100">
                            <label for="prediction-type">Predict by</label>
                            <input id="prediction-type" required value="" name="value" type="text"
                                class="form-control input-prediction-payload">
                        </div>
                    </div>
                    <div class="col-12 d-flex predict-btn-container justify-content-center">
                        <button type="submit" class="predict-btn astro-btn">Predict</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>

<div class="section-body mt-5">

    <div class="col-11 mx-auto justify-content-center other-horoscopes">
        <div class="section-heading text-center pt-5">Other horoscope for you</div>

        <div class="predict-horoscopes-cards-container row justify-content-center mt-5 d-flex flex-wrap px-5 mt-auto pt-5">

        </div>
    </div>
</div>