<div class="section-hero container mt-5">
    <div class="welcome-header-container">
        <div class="welcome-header mr-5">Welcome To</div>
    </div>
    <div class="row">
        <div class="col-12 col-lg-6 position-relative">
            <div class="company-name">
                {{{companyName}}}
            </div>
            <div class="company-description">
                {{{companyDescription}}}
            </div>
        </div>

        <div class="col-12 col-lg-6 m-auto d-flex">
            <div class="hero-image-container mx-auto">
                <img class="hero-image" src="/images/tarot-banner.png">
            </div>
        </div>
    </div>
</div>

<div class="section-body mt-5">
    <div class="section-heading text-center pt-5">
        Choose 3 Cards
    </div>

    <!-- <div class="d-flex flex-wrap px-5 mt-auto pt-5 justify-content-center tarot-cards-container tarot-cards-row"> -->

    <div class="container p-3 card-list-container">
        <div class="card-picker w-100">
            <ul class="card-list pl-0">
            </ul>
        </div>
    </div>

    <form action="" method="post" class="shuffle">
        <div class=""><button astro-shuffler-action class="astro-btn suffleCard">Shuffle Cards</button></div>
    </form>

</div>

<div class="col-11 mx-auto justify-content-center other-horoscopes">
    <div class="section-heading text-center pt-5">Other horoscope for you</div>

    <div class="other-horoscopes-cards-container row justify-content-center mt-5 d-flex flex-wrap px-5 mt-auto pt-5">

    </div>
</div>
</div>